
<div class="container">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      High Scores
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <table class="dropdown-item">
        <tr>
          {{!-- <th>Rank - </th> --}}
          <th>User Name - </th>
          <th>Correct - </th>
          <th>Answered - </th>
          <th>Percent Correct</th>
        </tr>
      {{#each highScores}}
      <tr>
        {{!-- <td>{{@index}}</td> --}}
        <td>{{userName}}</td>
        <td>{{totalCorrect}}</td>
        <td>{{totalAnswered}}</td>
        <td>{{overallPercentCorrect}}</td>
      </tr>
      {{/each}}
      </table>
    </div>
  </div>

  <nav class="navbar navbar-default"></nav>
  <div class="navbar-header text-flicker-in-glow text-center">Trivia Night
  </div>
  <p id="def" class="bounce text-center">Definition of trivia
    : a quizzing game involving obscure facts. Are you ready?</p>
    <p class="fixed-bottom text-center">Questions are generated using the <a href="https://opentdb.com/" target="_blank">Open Trivia Database </a><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> which is created and maintained by <a href="http://www.pixeltailgames.com/" target="_blank">PIXELTAIL GAMES LLC</a></p>
  </nav>

  <div class="row">
    <div class="col-md-3">
      <form class="login">
        <div class="form-group">
          <label for="userName-input">Username</label>
          <input type="text" class="form-control" id="userName-input" placeholder="UserName">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      <br />
      <p class="signUp">Or sign up<a href="/signup"> HERE </a></p>
    </div>
  </div>
</div>

</div>

<script src="/js/login.js"></script>

  
